<!DOCTYPE html>
<html>
<head>
	<title>Sharlock Music: result</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #280f74;" id="upper">
<a href="{% url 'music' %}">	<img src="{% static 'img/logo.png' %}" class="navbar-brand"> </a>
</nav>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #fff; display: none;" id="upperwhite">
	<img src="{% static 'img/logowhite.png' %}" class="navbar-brand">
</nav>
<div class="container-fluid">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" id="author_music_div">
				<h3 id="author_music">
					{% block author %}
					{% endblock %}
				</h3>
			</div>
		</div>
	</div>
</div>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>
<p>a</p>
<br>

</body>